body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p{
    font-size: 18px;
    letter-spacing: 1px;
}
ul{
    margin: 0;
}
nav{
    background:transparent;
    height: 50px;
}
header{
    background: rgba(0,0,0,0.2);
}
#banner{
    background:transparent;
    height: 700px;
}
nav ul{
list-style: none;
    margin:0;
    float: right;
}
nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;/*行高等于容器高，实现居中*/
    margin-right: 20px;
    
}
nav ul li a,nav .logo a{
    line-height: 50px;
    text-decoration: none;/*去掉下划线*/
    display: inline-block;
    height: inherit; 
    color: #fff;
}
nav ul li a:hover{
   border-bottom: 5px solid #eee;
}
nav .logo a:hover{
    border: 2px solid #eee;
}
nav .logo{
    float: left;
    margin-left: 20px;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:160px;
    color: #fff;
}
#banner .inner h1{
    margin: 0;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding: 15px 20px;
}
.sub-heading {
	line-height: 30px;
    margin: 30px 0;
    letter-spacing: 1px;
}
#banner .inner .more{
    margin-top: 200px;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  
}
#main-a{
    text-decoration: none;
    display: inline-block;
    padding: 14px 28px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 6px;
    color: #eee;
    background: #18a;
    transition: all 0.5s;
}
#main-a:hover{
    color:dimgrey;
    background-color:beige;
    border-radius: 25px;
}
.green-section {
    background: #089db0;
	text-align: center;
    color: #fff;
    padding: 120px 0;
}
.wrapper {
	max-width: 1080px;
    margin: 0 auto;
    
}
.green-section .wrapper h2{
    font-size: 28px; 
    border-bottom: 2px solid #363;
    padding: 20px;
}
.green-section .icon-group {
margin-top: 60px;
}
.green-section .icon-group .icon{
	display: inline-block;
    width:80px;
    height: 80px;
    background: #363;
    transform: rotate(45deg);
    margin: 25px;
}

.gray-section .img-section{
	width: 45%;
}
.img-section img{
    width: 100%;
}
.gray-section .text-section {
	width: 55%;
  
}
.article-preview{
    height: 500px;
    background: rgba(24,24,24,0.8);
     color: aliceblue;
}
.article-preview:nth-child(2n-1){
     background: rgba(24,24,24,0.9);
}
.article-preview >div{
	float: left;
}

.article-preview:after{
    content: '';
    display: table;
    clear: both;
}
.text-section {
    position: relative;
    top: 50px;
    left: 10px;
}
.text-section h2{
	margin-bottom: 20px;
    margin-left: 40px;
    color: aliceblue;
}
.text-section .sub-heading {
	font-size: 22px;
    margin: 0 20px;
}
.text-section p{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    padding: 0 25px;
    
}
.purple-section {
	background: #262149;
    color:#fff;
    padding: 80px;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .wrapper h2{
 font-size: 28px; 
    border-bottom: 2px solid #373259;
    padding: 20px;
}
.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
/*    border: 1px solid #fff;*/
    
    
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
h3{
    font-size: 24px;
}
.card:nth-child(1){
    background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.2);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.24);
}

footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}
ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}
.share-group li{
	display: inline-block;
    padding: 10px;
}
ul.share-group a{
    color: aliceblue;
    text-decoration:none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
ul.share-group a:hover{
    color:black;
    background-color:dimgray;
}
.copy{
    padding: 20px;
}
.main-wrapper{
    background: #444 url(http://pic2.sc.chinaz.com/files/pic/pic9/201701/bpic240.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media screen and (max-width 500px){
    .article-preview{
        height: 800px;
    }
}